// body 
 $appBackground: white;

// header
$headerColor: black;

.headerlogo{
  background-image: url(../img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 187px;
  height: 60px;
  padding: 12px;
  margin-top: -12px;
  margin-left: 4px;
}

$badgeBackgroundColor: blue;
$badgeTextColor: white;


// buttons
$buttonStandardBackgroundColor: black;
$buttonStandardBackgroundColorActivated: pink;

$viewButtonBackgroundColor: red;
$viewButtonBorderColor: red;
$viewButtonBackgroundColorActivated: maroon;
$viewButtonBorderColorActivated: maroon;


// highlights
$highlightColor: pink;


// fonts
@font-face
{
  font-family: Noodle; // don't change this
  src: url('../fonts/gotham-medium.ttf');
}

@font-face
{
  font-family: Akkurat; // don't change this
  src: url('../fonts/Akkurat.ttf');
}

@font-face
{
  font-family: Roboto; // don't change this
  src: url('../fonts/roboto-light.ttf');
}