@import "config.scss";
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


/* Empty. Add your own CSS if you like */

[name="mainView"] .pane {
  /*top: 15px !important;*/
  /*background: url('../img/mainbg.png');*/
  background: $appBackground;
  background-position: center;
  background-repeat: no-repeat;
   background-size: cover;
}

/*------------------Texts------------------------*/

.capital {
  text-transform: uppercase;
}

.allitem-title {
  position: fixed;
  color: #282828;
  margin: 27px 0 0 70px!important;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.center {
  position:fixed;
  margin-left:auto;
  margin-right:auto;
}
ion-content {padding-bottom:40px;}



.dropdown-menu>li>a {
display: block;
padding: 8px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
color: #fff;
text-decoration: none;
outline: 0;
background-color: #E05E58;
}

.dropdown-menu { background: #fff; font-family: roboto; width: 50%; 
  font-size:17px; padding:10px; position:absolute; line-height: 125%;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px; margin-top:5px;
}

// .dropdown-menu active: isActive($index) {background:#adadad;}

.noodle {font-family: Noodle, sans-serif;}
.roboto {font-family: Roboto, sans-serif;}
.akkurat {font-family: Akkurat, sans-serif;}

.roboto-title {color:#fff; font-family: Roboto; font-size: 1.6em!important;}
.roboto-list {color:#363636; font-family:Roboto; font-size: 1.8em!important; padding: 20px 20px 28px 32px; line-height: 120%;}

.noodle-h1 {font-size: 35px; color: #282828; text-decoration: none; text-transform: uppercase;} 
.noodle-h2 {font-size: 1.9em; color:#464646;} 
.noodle-name {font-size:2.9em; color:#464646;}
.related-title {width: 90%; margin: 0px 0px 0px 10px; font-size: 20px;}

a {text-decoration:none; color:#363636;}
a:active,
a.activated {
/*  background:#e54b4b!important;
  color:#fff;
  border:none;*/
}

.white {color:#fff!important;}
.roboto-sm {font-size: 1em; text-align: center; margin-top: -3px; color: #fff; line-height: 120%; white-space: normal;}
.grey {color:#5e5e5e;}
.grey-tint {color:#545454;}
.blue {color:#0079C8;}
.yellow {color:#EDD42D;}
.blue-tint { color:#40A3E4;}

.noodle-compare-title {  
  margin: -17px 0 -40px -110px;
  font-size: 26px;
  padding: 10px;
  font-family: Noodle;
  color: $highlightColor;
  letter-spacing: -1px;}

/*-------------End of Texts--------------*/


/*------------Containers--------------*/

.arrow-left {
  position: absolute;
  left: 4px;
  top: 39%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}

.arrow-right {
  position: absolute;
  right: 80px;
  top: 39%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}


.col-55 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 55%;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
}

.counts {
  position:fixed;
  right:45px;
  margin: -35px 0px -10px 0px;
  width: 40px;
  height: 40px;
  border-radius:50px;
  color:#fff;
  font-size: 18px;
  padding:5px;
  text-align: center;
  background: #2F2F2F;
  font-family: noodle;
}

.header-counts {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  color: #fff;
  padding: 3px 10px;
  font-size: 20px;
  background: #E44E4E;
  margin: -20px 5px;
}

.arrows {position:absolute; top:45%; z-index:2;}

.item-home-container {
  /*border: solid 1px #b8b8b8;*/
  margin: 10px; 
  padding: 4px; 
  float: left; 
  width: 250px;
  height: 525px;
  text-align: center;
  border-radius: 7px;
  position: relative;
  -webkit-transition: all .2s ease-in-out; 
}

.item-grid-container:active,
.item-grid-container.activated,
.item-grid-container-related:active,
.item-grid-container-related.activated {
  -webkit-transform: scale(1.1,1.1); 
  -webkit-transition: all .2s ease-in-out; 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.item-home-container:active,
.item-home-container.activated {
  /*border:solid 1px rgba(241,39,39,0.70); */
   /*-webkit-box-shadow: 0 0 6px 2px rgba(241,39,39,0.44) ;*/
  background:rgba(255,243,243, 0.5);
  opacity: 0.85;
}

.categoryimg {
  width: 200px;
  height: 200px;
  margin: 120px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item-home-container h1{color:#3a3a3a;font-size:60px;font-weight:bold;font-family: Noodle, sans-serif;} 
.item-home-container h2{color:#3a3a3a;} 
.item-home-container h3{ color:#3a3a3a;text-transform:uppercase;font-size:26px;font-weight:300;font-family: Roboto, sans-serif; margin-top: 50px;}

.item-home-container h2, .item-home-container strong{
  font-size: 26px;
  font-weight: normal;
  font-family: Noodle;
  margin-top: 50px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  padding: 8px;
  width: 100%;
} 

.item-home-container h2:active,
.item-home-container h2.activated {
  color:#fff;
}

.item-grid-container {
  border-right: 1px dashed #CDCDCD;
    display: inline-block;
    margin: 45px 0 0 15px;
    width: 300px;
    height: 250px;
  /*background: url('../img/bg-container.png');*/
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  /*border-radius: 1px;*/
  /*box-shadow: rgba(18, 18, 18, 0.258824) 0px 0px 2px 0px;*/
  /*background: rgba(207, 207, 207, 0.32);*/
  -webkit-transition: all .2s ease-in-out; 
}

.item-grid-container h5 {
    padding: 45px;
    text-align: center;
    white-space: nowrap;
    margin-top: -57px;
    font-size: 16px;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    color: #383838;
}

.item-grid-container h3 {
  padding: 15px;
    text-align: center;
    white-space: nowrap;
    margin-top: -40px;
    font-size: 16px;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    color: #3c3c3c;
}

.item-grid-container-related {
  /*border: 1px solid #CCC;*/
  background: rgba(207, 207, 207, 0.32);
  display: inline-block;
  margin: 10px;
  width: 225px;
  height: 180px;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  -webkit-transition: all .2s ease-in-out; 
  z-index:-1 ;
}

.list-container {
  background-image: url('../img/bg-container.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:-30px;
}

.relateditems {
  width: 95%;
  margin: 0 auto;
}

.wide-item {
  overflow: hidden;
    white-space: nowrap;
}

.wide-item2 {
  overflow: hidden;
    white-space: normal;
}

.item-wishlist-container {
  /*border: 1px solid #CCC;*/ 
  margin: 15px 67px 15px 0px; padding: 20px;
  -webkit-transition: all .2s ease-in-out; 
  /*box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 1px 0px;*/
  /*background: rgba(207, 207, 207, 0.32);*/
}

.item-compare-container {
  vertical-align: top; margin: -5px 50px 0px 62px; padding:0px; display: inline-block;
  width: 329px;
    height: 546px;
  background: url('../img/bg-container.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-right:1px solid #ccc;
  background-position: center;
}

.item-compare-container2 {
  margin: -5px 30px 0 50px; padding:0px; display: inline-block;
  width: 329px;
    height: 326px;
  /*background: url('../img/bg-container.png');*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.sliderdata{
  border: 1px solid #CCC;
  margin: 10px;
  display: inline-block;
  width: 280px;
  height: 158px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 40px;
  margin-bottom: 34px;
}

/*---------End of Containers----------*/

/*----------Images-------------------*/

.thumb-lg {
  display: inline-block;
    background: url('../img/bg-container-lg.png');
    margin-bottom: 1px;
    margin-top: -31px;
    margin-left: -50px;
    width: 100%;
    height: 518px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  /*display: inline-block; background: url('../img/bg-container-lg.png'); margin-bottom: 1px; margin-top: 69px; width: 100%; height: 328px; background-size: contain; background-repeat: no-repeat; background-position: center;*/
}

.base-class.my-class {
  opacity: 0.4;
}

.models {
  display: inline-block;
  margin-bottom: 1px;
  margin-top: 0px;
  margin-left: -2px;
    width: 100%;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.thumb-sm {
  display: inline-block; width: 60px; height: 60px; margin: 2px; background: rgba(255, 255, 255, 0.3); /*border: 1px solid #CCC;*/
  background-size: contain; background-repeat: no-repeat; background-position: center; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16); border-radius: 2px;
}

.model {
    color: #282828;
    font-size: 23px;
    letter-spacing: -2px;
    text-align: left;
    margin-bottom: 0px;
    padding: 0px;
    border-bottom: 1px solid $highlightColor;
}

.btn-related {width:76%; height:auto;}

.listview-image {
  width: 363px;
  height: 368px;
  margin-top: -16px;
  margin-left: -26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item-home-image {
  width: 270px;
  height: 170px;
  margin: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item-additem-image {
  width: 108px;
  height: auto;
  margin: 5px 18px 10px 134px;
  height: auto;
}

.item-compare-image {
  width: 205px;
  height: auto;
  margin: 14px 26px 13px 42px;
}

.item-camera-image {
  width:153px;
  height:auto; 
  margin:0 70px 10px 70px;
}

.item-grid-image {
  width:190px;
  height:auto;
  margin: 30px 70px 30px 80px;
}

/*----------End of Images------------*/


/*-----------Item Prices and Titles----------*/

.item-home-price {
  font-size:1.6em; float: left; width: 60px; color:#D83F3F; font-weight:bolder;
}

.item-home-title {
  font-size:1.2em; color:#363636; float: right; margin-right: 5px;
}

.item-grid-title {
  padding:0 5px;
  position: relative;
  font-size: 1.2em;
  color: #fff;
  margin-top: 0px;
}

.top-border {}

/*---------End of Item Prices and Titles-----------*/

/*---------Margins and Alignments------------*/
.margin-bottom-xts {margin-bottom:10px;}
.margin-bottom-s {margin-bottom:30px;}
.margin-bottom-m {margin-bottom:70px;}
.margin-bottom-l {margin-bottom:100px;}
.no-margin {margin:0px;}

.margin-right-xts {margin-right: 2px;}
.margin-right-s {margin-right: 15px;}
.margin-left-xts {margin-left: 5px;}
.margin-left-s {margin-left: 20px;}
.margin-left-mid {margin-left:50px;}
.margin-left-m {margin-left:140px;}
.margin-left-20 {margin-left:21%;}
.margin-left-30 {margin-left:31%;}
.margin-left-40 {margin-left: 41%;}
.margin-left-50 {margin-left: 51%;}

.padding-s {padding: 30px 0 0 0;}
.padding-m {padding: 90px 50px 0 50px;}
.padding-l {padding: 150px 90px 0 133px;}
.padding-l2 {padding: 35px 15px 0 15px;}
.padding-l3 {padding: 38px 90px 0 155px;}
.padding-l4 {padding: 38px 90px 0 50px;}
.padding-related {padding: 0px 90px 0 150px;}

.spacer {padding-left:4px; padding-right: 10px;}


/*--------End of Margins and Alignments------*/

.homelogo{
  margin-left: -110px;
  margin-top: -3px;
  color: #fff;
}
.logodiv{
  position: relative;
  width: 78%;
    left: 79px;
  top: -13px;
}
.logodiv .button{
  /*border-right: solid 1px #C2C2C2 !important;*/
  height: 78px!important;
  width: 86px;
  padding: 3px !important; 
}
.logodiv .button.compare-button {
  /*border-left: solid 1px #C2C2C2 !important;*/
}
.logodiv p {
  position: relative;
    margin-top: -19px;
  font-size: 10px;
    font-family: Gotham;
    text-transform: uppercase;
    color: #FFFFFF;
 }

.rightlogo{
  float:right;
}

.sliderImage{
  width: 100%;
}

.logodiv .icon::before {
  margin-top:-5px;
/*  font-size: 50px !important;
  line-height:55px !important;*/
}

.logodiv .button .badge {
  position: absolute;
  top: 5px;
  margin-left: -10px;
  }

.badge {
  background-color: $badgeBackgroundColor;
  color: $badgeTextColor;
}

.box-bottom {height: 170px; width:100%;}

#heading {
/*  background: linear-gradient(180deg, #FFFFFF 0, #EDEDED  100%);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(128, 128, 128, 0.4);
  padding: 13px;
  height: 75px;
  border-bottom: 1px solid #F0F0F0;*/
  padding: 13px;
    height: 75px;
  background: $headerColor;
  border-bottom: 1px solid #BEBEBE;
}

/*----------Custom Buttons------------*/
.btn-vertical {height: auto; width:85px; z-index: 2;}
.btn-horizontal {height: auto; z-index: 2;}

.btn-horizontal.left {position: fixed; left: 64px; bottom: 54px; }
.btn-horizontal.right {position: fixed; right: 5px; bottom: 54px;}

.btn-horizontal.left-add {position: absolute; width:8%; left: 5px; bottom: 180px;}
.btn-horizontal.right-add {position: absolute; width:8%; right: 5px; bottom: 180px;}

.btn-vertical.up {position: fixed; right: 15px; top: 189px; }
.btn-vertical.down {position: fixed; right: 15px; top:249px;}

.btn-prev {position:fixed; left:-10px;}
.btn-next {position:fixed; right:-10px;}

.btn-arrows {width:90%; height:auto; opacity:0.6; box-shadow: rgba(0, 0, 0, 0.50) 0px 2px 5px 0px; background: #353535;}

.btn-back {
  width: 87px;
  height: 37px;
    top: 44px;
    left: 9px;
    position: absolute
}

.btn-add {
  width: 142px;
  height: 44px;
  font-size: 1.3em!important;
  margin-top: 2px;
  padding-top: 5px!important;
}

.btn-views {
  border-top:none; border-bottom:none; border-left:1px #2C2C2C solid!important; border-right:1px #2C2C2C solid!important; margin-right:-1px;
}

.btn-views p {
  margin-top:-19px; color:#eaeaea; text-align: center; font-size: 0.7em;
}

.prodTitle {
  font-size: 16px;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 0px;
  position: relative;
  top: 12px;
  font-family: Gotham;
}

.prodTitle2 {
  font-size: 16px;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 0px;
  position: relative;
  top: 12px;
  font-family: Gotham;
  border-bottom: 1px solid $highlightColor;
}

.prodTitle3 {
  font-family: gotham;
  text-transform: uppercase;
  letter-spacing: -1.6px;
  top: 65px;
  left: 139px;
  font-size: 21px;
  position: absolute;
  border-bottom: 1px dashed $highlightColor;
}

.button-outline.button-outline.active, 
.button-outline.button-outline.activated{
  background-color: rgba(255, 255, 255, 0.38)!important;
}

.shadow-search { 
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.4) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.4) inset;
}

.search-btn {
  font-size: 22px!important;
  /*margin-top: 13px;*/
  width: 66px!important;
  border: none;
  margin-left: -5px;
  border-radius: 0px;
  position: relative;
}

.search-clear {
  margin-top:22px; 
  width:50px; 
  border-radius:0px; 
}

.search-clear.one {
  margin-left:-135px; 
  margin-right:10px;
}

.search-clear.all {
  margin-left:-10px; 
  margin-right:5px;
}


.button-last {position:relative; float:right; color:#fff!important; margin-right:10px;}
.btn-white {border:none; background:#fff!important; font-family: roboto; width:200px;}
.btn-black {
  border: 0px;
  background: #282828;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  color:#fff!important;
}
.btn-black-2 { border:none; background: #0079C8!important; position: relative; bottom: 20px; right: 0px; width: 288px; border-radius: 0px;}
.btn-item {width:100px; height: 114px; text-align: center;}

.btn-black:active,
.btn-black.activated {
  background:$highlightColor!important;
  color:#fff;
}

.btn-remove {
  background: none;
    border: #fff;
    border-radius: 0px;
    position: relative;
    float: left;
    -webkit-transition: all .2s ease-in-out;
}

.btn-remove.wishlist { margin: 19px 0 -105px -12px;}
.btn-remove.compare { margin: -2px 0 0 266px;}

.btn-remove:active,
.btn-remove.activated {
  opacity: 0.7;
}

.buttonview {
  background-color: $viewButtonBackgroundColor;
  border-color: $viewButtonBorderColor;
  &.active {
    background-color: $viewButtonBackgroundColorActivated;
    border-color: $viewButtonBorderColorActivated;
  }
}

/*---------End of Custom Buttons---------*/

.header-icon {
  width:48%; height:auto; padding-top:5px;
}

.footer-icon {
  width: 31px; height: auto; margin-bottom: -8px;
}

.views-icon {
  width: 29px; height: auto; margin-bottom: -11px;
} 

.item-icon {
  position:relative; margin-top:10px; margin-left:-4px; margin-bottom:-24px;
}

.item-title {
  font-size: 40px;
    color: #282828;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bolder;
    line-height: 93%;
}

.item-container {
  display: inline-block;
  width: 560px;
    height: 523px;
  /*background: url('../img/bg-container.png');*/
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.item-image {
  width:120px; height:auto; display:inline-block;
}

.footerstyle{
  position: fixed;
  bottom:0;
  border: none;
  background: #484848;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#484848), color-stop(100%,#363636));
  background: -webkit-linear-gradient(top, #484848 0%,#363636 100%);
  background: linear-gradient(to bottom, #484848 0%,#363636 100%);
  -webkit-box-shadow: 0px -2px 13px 0px rgba(50, 50, 50, 0.5);
  height: 55px;
  width:100%;
}

.footerstyle .button {
  font-size: 21px !important; 
  height:55px
}

.footerstyle .button i::before {
  font-size:40px !important;
}

.footertext{
  color:#fff!important;
  font-family: Roboto;
}

.borderbutton{
  border-right: 1px #2C2C2C solid;
}

.image{
  border: 1px solid #B9AAAA;
  padding: 50px;
  margin-left: 5px;
  margin-top: 10px;
}

.details{
  font-family: arial;
  color: #E91B1B;
  padding: 10px;
}

.price{
    text-align: center;
    margin-top: -52px;
    color: $highlightColor;
    font-size: 15px;
    font-family: gotham;
}

.price-2 {
  font-family: gotham;
    font-size: 20px;
    margin: 0 0 0 1px;
    color: $highlightColor;
    letter-spacing: -0.6px;
}

.price-3 {
  font-family: gotham;
    font-size: 15px;
    margin: -22px 0 0 1px;
    color: $highlightColor;
    letter-spacing: -0.6px;
}

.buttontabs {
  margin-left:20px!important;
}

.buttontabs button{
  -webkit-transition: all 0.30s;
  width:200px;
  border-bottom: 0px !important;
  position: relative;
  z-index: 2;
  border:none;
  border-radius:0px;
  margin-left:-10px;
}

.buttontabs button.button-stable {
  background: #F0F0F0;
  color: #41A0DD;
  font-family: Noodle;
  /*text-transform: uppercase;*/
  font-size: 20px;
}

.buttontabs button.button-dark {
  background:#4BA8E4;
  color:#fff;
  font-family: Noodle;
  /*text-transform: uppercase;*/
  font-size: 20px;
  /*-webkit-transform: scale(0.93);*/
}

/*.buttontabs button.button-stable:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 14px solid transparent;
  border-top-color: #5E5E5E;
  left: 36px;
  top:90%;
}*/

.buttontabs button.button-stable:active,
.buttontabs button.button-stable.activated,
.buttontabs button.button-dark:active,
.buttontabs button.button-dark.activated {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0px;
  border:none;
  color:#fff;
  /*background:#E45F5F!important;*/
}

.buttontabs button.button-stable:hover{
  color: #fff;
}

.description,
.features,
.benefits {
  padding: 15px 4px;
  font-family: roboto;
  font-size: 15px;
  font-style: normal;
  line-height: 140%;
  border-top: none;
  position: relative;
  z-index: 1;
  text-align: left;
  color:#3C3C3C;
}

.list-description {
  font-family: roboto;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
  text-align: justify;
}

.sidebuttons {
  text-align: right;
}

.sidebuttons button {
  margin-bottom: 20px;
  float: right;
  clear: right;
}

.cameraitemdiv{
  margin: 10px;
}

.box-middle {height:105%;}

.gradient {
  /*background-image: url('../img/bg-magenta-v2.png');*/
  background-size: cover;
  background-repeat: no-repeat;
  /*background: url('/img/bg-magenta-v2.png');*/
  /*background: #5a1991;
  background: -moz-linear-gradient(top, #5a1991 0%, #ff0070 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a1991), color-stop(99%,#ff0070));
  background: -webkit-linear-gradient(top, #5a1991 0%,#ff0070 99%);
  background: -o-linear-gradient(top, #5a1991 0%,#ff0070 99%);
  background: -ms-linear-gradient(top, #5a1991 0%,#ff0070 99%);
  background: linear-gradient(to bottom, #5a1991 0%,#ff0070 99%);*/
   /*background: -webkit-linear-gradient(34.508522987668414deg, rgba(255,255,255,0.29) 0, rgba(255,255,255,0.51) 32%, rgba(255,255,255,0.33) 38%, rgba(2,124,124,0) 38%, rgba(2,124,124,0) 100%), -webkit-linear-gradient(-34.69515353123397deg, rgba(228,245,252,0) 0, rgba(228,245,252,0) 67%, rgba(253,253,253,0.49) 67%, rgba(255,255,255,0.17) 92%, rgba(255,255,255,0.17) 100%), -webkit-linear-gradient(-41deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.47) 26%, rgba(230,242,247,0) 26%, rgba(183,222,237,0) 100%), -webkit-radial-gradient(#ffffff 0, #f7f7f7 42%, #dadada 100%);*/
}

/*-----Bar Stuff-----------*/

.views-bar {
  right: 45px!important; top: 85px; width: 122px;
    height: 46px;border-radius:0px; position:fixed; 
}

.hello {
  width: 23em !important;
  height: 2.4em!important;
  display: inline-block!important;
  padding: 15px!important;
  margin-top: 20px!important;
  font-size: 1.3em!important;
  }

.bar-nightly{
  height: 58px;
  padding-top: 10px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(-30deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 82%, rgba(255,255,255,0.11) 82%, rgba(255,255,255,0.22) 82%, rgba(255,255,255,0.14) 87%, rgba(255,255,255,0.14) 100%), -webkit-linear-gradient(-30deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 76%, rgba(255,255,255,0.2) 76%, rgba(255,255,255,0.21) 76%, rgba(255,255,255,0) 83%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.13) 100%), #3c3c3c;
}

.nightly-title {font-size: 22px !important;}

.bar-subheader {
  height: 54px;
  margin-top: 27px;
  padding-top: 10px;
  z-index:2;
  /*background:-webkit-linear-gradient(-29deg, rgba(44, 44, 44, 0.36) 0, rgba(34, 34, 34, 0.36) 81%, rgba(255,255,255,0.2) 81%, rgba(112,112,112,0.6) 81%, rgba(84,84,84,0.51) 84%, rgba(84,84,84,1.33) 100%), -webkit-linear-gradient(-29deg, rgba(0,0,0,0.36) 0, rgba(0,0,0,0.36) 85%, rgba(255,255,255,0.2) 79%, rgba(175,175,175,0.3) 112%, rgba(84,84,84,0.51) 88%), -webkit-linear-gradient(-90deg, #808080 0, #555555 48%, #686868 100%), rgb(27, 25, 25);*/
  margin-bottom: 20px;
    border:none;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(137, 137, 137, 0.4);
}

.bar-subheader a {
  font-size:15px;
  text-align: center;
  color:#0079C8;
}

.bar-carousel {
  height: 58px;
  border:none;
  position: relative;
  margin-top: -10px;
  background: -webkit-linear-gradient(-90deg, #363636 0, #2a2a2a 48%, #2a2a2a 100%);  
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.5);
}

.mylink {
  background: #FFF;
    color: #E1167F;
    border: 1px solid #F0F0F0;
}
.modal .bar {height: 50px;}
.bar .title {padding-top:8px; font-size: 26px; height:50px; color: white; text-transform: uppercase}

/*-----End of Bar Stuff------------*/

.item-list-divider {border-bottom:1px dashed #adadad; margin-top:20px; margin-bottom:20px; position: relative;}

.item-button {
  width:170px;
  height:40px;
}

.bordered {
  border-bottom: 1px dashed #E11780;
}

.modal.modal-compare {height: 250px!important;}

.button-standard {
  background: $buttonStandardBackgroundColor;
  color: #FFFFFF;
  border: none;
  font-family: Gotham;
  border-radius: 0px;
  font-size: 15px;
  width: 320px;
  margin: 0 0 5px 20px;
}

.button-standard.active,
.button-standard.activated {
  background: $buttonStandardBackgroundColorActivated;
  border:none;
  color:#fff;
}


/*-----Animations-----------*/

.fade {list-style: none;}

.fade.ng-enter,
.fade.ng-leave,
.fade.ng-move { -webkit-transition:0.2s linear all; transition: 0.2s linear all; opacity:0;}

.fade.ng-leave.ng-leave-active,
.fade.ng-move,
.fade.ng-enter {opacity: 0;}

.fade.ng-leave,
.fade.ng-move.ng-move-active,
.fade.ng-enter.ng-enter-active {opacity: 1;}

.animate.ng-enter, 
.animate.ng-leave
{ 
    -webkit-transition: 325ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 325ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 325ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 325ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 325ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    position: relative;
    display: block;
} 
 
.animate.ng-enter.animate.ng-enter-active, 
.animate.ng-leave {
    opacity: 1;
    top: 28%;
    height: 61%;
}
 
.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
    opacity: 0;
    top: -28%;
    height: 0px;
}


/*----------------LISTS----------------*/
.item:active, .item.activated {
  background:$highlightColor;
  color:#fff;
  border:0px;
  font-family: noodle;
}

.categs.ng-enter, 
.categs.ng-leave
{ 
    -webkit-transition: 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    position: relative;
    display: block;
} 
 
.categs.ng-enter.categs.ng-enter-active, 
.categs.ng-leave {
    opacity: 1;
    top: 60%;
}
 
.categs.ng-leave.categs.ng-leave-active,
.categs.ng-enter {
    opacity: 0;
    top: -50px;
}



/*-----------MODALS-----------------*/

.modal.modal-shopby {
  width: 38%;
  height: 61%;
  position: absolute;
  left:2%;
}

.modal.modal-shopby:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 14px solid transparent;
  border-top-color: #fff;
  top: 100%;
  left: 36px;
}

.modal.modal-filter {
  width: 40%;
  height: 61%;
  position: absolute;
  left:2%;
}

.modal.modal-filter:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 14px solid transparent;
  border-top-color: #fff;
  top: 100%;
  left: 36px;
}

.modal.modal-sort {
  width: 40%;
  height: 61%;
  position: absolute;
  left:12%;
}

.modal.modal-sort:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 14px solid transparent;
  border-top-color: #fff;
  top: 100%;
  left: 36px;
}

.modal.modal-additem {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 46%;
  left: 0px;
  background:#FFFFFF;
}

