<div class="modal">
    <ion-header-bar class="bar bar-top bar-nightly">
      <h1 class="title roboto white">Browse Categories</h1>
      <h1 ng-click="closesubcategoryModalphone()" class="button button-icon ion-ios7-close-empty white"></h1>
    </ion-header-bar>
    <ion-content>
    	<div class="margin-bottom-s"></div>

    	<div class="list">
    		<div ng-repeat="(keys,values) in Child">
    			<a ng-click="opensubcategoryModalcamera('{{keys}}')" value="age" class="item item-icon-left item-icon-right roboto-list"> 
	    			<i class="icon"></i>
				    {{keys}} <div class="counts">{{values}}</div>
				    <i class="icon ion-ios7-arrow-right"></i>
				</a>
    		</div>
    	</div>
    </ion-content>
  </div>