<div class="modal modal-filter animate">
    <ion-header-bar class="bar bar-top bar-nightly">
        <h1 class="title roboto-title">Filter</h1>
        <h1 ng-click="closefiltermodal()" class="button button-icon ion-ios7-close-empty white"></h1>
    </ion-header-bar>
    <ion-content>
        <div ng-model="sort">
            <li class="item item-toggle roboto-list">
                Display
                <label class="toggle toggle-assertive" style="margin-top: 10px;">
                    <input  ng-click="showbrand = !showbrand;" type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <div ng-init="showbrand = true" ng-show="!showbrand">
                <li ng-repeat="filters in filter | duplicates: 'Display'"class="item item-checkbox" ng-click="filternow('brand','{{filters.Display}}')">
                    {{filters.Display}}
                </li>
                <!-- <li class="item item-checkbox" ng-click="filternow('brand','Samsung')">
                    Samsung
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Telstra')">
                    Telstra
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','LG')">
                    LG
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','HTC')">
                    HTC
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Apple')">
                    Apple
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Fujifilm')">
                    Fujifilm
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Olympus')">
                    Olympus
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Target')">
                    Target
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Sandisk')">
                    SanDisk
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Navig8r')">
                    Navig8r
                </li>
                <li class="item item-checkbox" ng-click="filternow('brand','Pendo')">
                    Pendo
                </li> -->
            </div>
           <!--  <li class="item item-toggle">
                Dimensions
                <label class="toggle toggle-assertive">
                    <input ng-click="showSizes = !showSizes;" type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <div ng-init="showSizes = true" ng-show="!showSizes">
                <li class="item item-checkbox" ng-click="filternow('Dimensions','9.4cm x 9cm x 12cm')">
                    9.4cm x 9cm x 12cm
                </li>
                <li class="item item-checkbox" ng-click="filternow('Dimensions','14.8cm x 6.4cm x 19cm')">
                    14.8cm x 6.4cm x 19cm
                </li>
                <li class="item item-checkbox" ng-click="filternow('Dimensions','7.5cm x 10.7cm x 14.2cm')">
                    7.5cm x 10.7cm x 14.2cm
                </li>
                <li class="item item-checkbox" ng-click="filternow('Dimensions','8.4cm x 9.4cm x 15cm')">
                    8.4cm x 9.4cm x 15cm
                </li>
                <li class="item item-checkbox" ng-click="filternow('Dimensions','8.4cm x 7.6cm x 13cm')">
                    8.4cm x 7.6cm x 13cm
                </li>
            </div> -->
            <li class="item item-toggle roboto-list">
                Resolution
                <label class="toggle toggle-assertive" style="margin-top: 10px;">
                    <input ng-click="showcolor = !showcolor;" type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <div ng-init="showcolor = true" ng-show="!showcolor">
                <li ng-repeat="filters in filter | duplicates: 'Resolution'" class="item item-checkbox" ng-click="filternow('Resolution','{{filters.Resolution}}')">
                    {{filters.Resolution}}
                </li>
                <!-- <li class="item item-checkbox" ng-click="filternow('Color','White')">
                    White
                </li>
                <li class="item item-checkbox" ng-click="filternow('Color','Blue')">
                    Blue
                </li>
                <li class="item item-checkbox" ng-click="filternow('Color','Yellow')">
                    Yellow
                </li> -->
            </div>
            <!-- <a ng-click="sortnow('age')" class="item item-icon-left item-icon-right roboto-list" href="">
                <i class="icon"></i>
                AVAILABILITY
                <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a ng-click="sortnow('brand')" class="item item-icon-left item-icon-right roboto-list" href="">
                <i class="icon"></i>
                BRAND
                <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a ng-click="sortnow('-price')" class="item item-icon-left item-icon-right roboto-list" href="">
                <i class="icon"></i>
                COLOR
                <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a ng-click="sortnow('price')" class="item item-icon-left item-icon-right roboto-list" href="">
                <i class="icon"></i>
                PRICE
                <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a ng-click="sortnow('rating')" class="item item-icon-left item-icon-right roboto-list" href="">
                <i class="icon"></i>
                RATING
                <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a ng-click="sortnow('-name')" class="item item-icon-left item-icon-right roboto-list" href="">
                <i class="icon"></i>
                SIZE
                <i class="icon ion-ios7-arrow-right"></i>
                </a> -->
        </div>
    </ion-content>
</div>