<div class="modal">
    <ion-header-bar class="bar bar-nightly">
      <h1 class="nightly-title title roboto white">Browse Categories</h1>
      <h1 ng-click="closeshopbycategoryModal()" class="button button-icon ion-ios7-close-empty white"></h1>
    </ion-header-bar>

    <ion-content>
		<div class="margin-bottom-s"></div>
			<div class="list">
				<div ng-repeat = "(keys,values) in Parent">
					<a ng-click="opensubcategoryModalphone('{{keys}}')" value="age" class="item item-icon-left item-icon-right roboto-list" href="">
					    <i class="icon"></i>
					   		{{keys}}
					   		<span class="empty" ng-show="!keys">N/A</span>
					   		<div  class="counts">{{values}}</div>
					    <i class="icon ion-ios7-arrow-right"></i>
					</a>				
				</div>

			</div>
   </ion-content>
  </div>