<div class="modal modal-additem">
	<h1 class="noodle allitem-title bordered">
		Related Items 
	</h1>
	<a class="button button-icon" ng-click="closeRelatedModal()" style="z-index: 3; position:relative; float:right; margin:10px 20px 0px 0px;">
      <img src="img/btn-close-gray.png">
	</a>
    <div class="" style="position:relative; z-index:999999!important; top:100%;">
	    <div class="button button-icon btn-horizontal left-add" ng-click="scrollLeft()">
			<img class="btn-related" src="img/logoicons/left.png">
		</div>
		<div class="button button-icon btn-horizontal right-add" ng-click="scrollRight()">
			<img class="btn-related" src="img/logoicons/right.png">
		</div>
	</div>
    <ion-content padding="true" class="gradient">
    	<div class="padding-s">
    		<ion-scroll direction="x" delegate-handle="list" class="wide-item" style="height:550px;">
	    		<div class="row">
	    			<div class="col">
						<div ng-repeat="phone in phonerelateditems" class="item-grid-container">
							<div ng-click="goToPhone(phone.ItemCode); closeRelatedModal()">
							<div class="item-grid-image animated fadeInLeft" style="animation-delay: {{$index * 150}}ms; width: 278px; height: 223px; margin: 15px; background-image: url('{{phone.images[0]}}'); background-size: contain; background-repeat: no-repeat; background-position: center;" >
							</div>
							<div class="row top-border" style="height:63px;">
					          <div class="col">
					            <h3 align="center" class="roboto item-grid-title grey animated fadeIn" style="animation-delay: {{$index * 250}}ms;">{{phone.Name}}</h3>
                				<p align="center" class="price-3 animated fadeInLeft" style="animation-delay: {{$index * 280}}ms;"> AUD ${{phone.Price}}</p>
					          </div>
					        </div>
					        </div>
						</div>
	    			</div>
	    		</div>
    		</ion-scroll>
		</div>
    </ion-content>
  </div>