<div class="modal modal-compare fade" style="width: 400px; left: 50%; margin-left: -200px; min-height: 300px;">
<ion-header-bar class="bar bar-top">
	<h1 class="title roboto">Share</h1>
     <h1 ng-click="closeShareModal()" class="button button-icon ion-ios7-close-empty white"></h1>
</ion-header-bar>
<ion-content>
	<div class="row" style="margin-top: 20px;">
		<div class="col col-50" style="text-align: center;">
			<button class="button" style="border: 0px;" ng-click="shareViaEmail()" >
				<img src="img/email.png"  width="120"/><br>
				<b>Share via Email</b>
			</button>
		</div>
		<div class="col col-50" style="text-align: center;">
			<button class="button" style="border: 0px;">
				<img src="img/qrcode.png"  width="120"/><br>
				<b>Scan QR Code</b>
			</button>
		</div>
	</div>
</ion-content>
</div>