<div class="modal modal-compare fade" style="width: 600px; left: 50%; margin-left: -300px; min-height: 200px;">
<ion-header-bar class="bar bar-top">
	<h1 class="title roboto">Share Via Email</h1>
     <h1 ng-click="closeShareModal()" class="button button-icon ion-ios7-close-empty white"></h1>
</ion-header-bar>
<ion-content>
	<div class="row" style="padding: 40px;">
		<input ng-click="keyboard()" type="text" id="shareemail" style="width: 350px; border: solid 1px #ccc; padding: 10px; font-size: 1.5em; margin-right: 10px; height: 47px;" placeholder="Email" />
			<button class="button" ng-click="shareAndClose()">
				<b>Share via Email</b>
			</button>
		</div>
	</div>
</ion-content>
</div>