<div class="modal modal-sort animate">
    <ion-header-bar class="bar bar-top bar-nightly">
      <h1 class="title roboto-title">Sort</h1>
      <h1 ng-click="closesortModal()" class="button button-icon ion-ios7-close-empty white"></h1>
    </ion-header-bar>
    <ion-content>
		<div class="list">
			<!-- <a ng-click="sortnow('Age')" class="item item-icon-left item-icon-right roboto-list" href="">
			    <i class="icon"></i>
			    LATEST
			    <i class="icon ion-ios7-arrow-right"></i>
			</a>
			<a ng-click="sortnow('Rating')" class="item item-icon-left item-icon-right roboto-list" href="">
			    <i class="icon"></i>
			    HIGHEST RATINGS
			    <i class="icon ion-ios7-arrow-right"></i>
			</a> -->
			<a ng-click="sortnow('Name')" class="item item-icon-left item-icon-right roboto-list" href="">
			    <i class="icon"></i>
			    PRODUCTS: A-Z
			    <i class="icon ion-ios7-arrow-right"></i>
			</a>
			<a ng-click="sortnow('-Name')" class="item item-icon-left item-icon-right roboto-list" href="">
			    <i class="icon"></i>
			    PRODUCTS: Z-A
			    <i class="icon ion-ios7-arrow-right"></i>
			</a>
		</div>
    </ion-content>
  </div>