<div class="modal" style="background:#fff;">
    <ion-content scroll="false">
		<div class="margin-bottom-xts"></div>
		<div class="row">
			<div class="col col-90">
				<h1 class="noodle margin-left-s bordered" style="width: 354px; text-transform:uppercase; letter-spacing: -1px; color:#373737;">Select Category</h1>
			</div>
			<div class="col col-10">
				<a class="button button-icon" ng-click="closesubcategoryModalcamera()">
					<img src="img/btn-close-gray.png" style="position:absolute; margin:-10px 0 0 -6px;">
				</a>
			</div>
		</div>
		<div class="margin-bottom-s"></div>
		<div class="list">
			<div ng-repeat="(keys,values) in SubChild">
				<a href="#/{{keys}}" ng-click="closesubcategoryModalcamera();temp('{{keys}}')" value="age" class="item item-icon-left item-icon-right roboto-list mylink" style="">
					<i lass="icon"></i>
				    {{keys}} <div class="counts">{{values}}</div>
				    <i class="icon ion-ios7-arrow-right"></i>
				</a>
			</div>
		</div>
    </ion-content>
  </div>