<div class="modal modal-compare fade" style="background:#fff;">
<!-- <ion-header-bar class="bar bar-nightly">
	<h1 class="title roboto-title">Wishlist</h1>
     <h1 ng-click="closeWishlistModal()" class="button button-icon ion-ios7-close-empty white"></h1>
</ion-header-bar> -->
<ion-content scroll="false">
	<div class="margin-bottom-xts"></div>
		<div class="row">
			<div class="col col-90">
				<h1 class="noodle margin-left-s bordered" style="width:180px; text-transform:uppercase; letter-spacing: -1px; color:#282828;">WISHLIST</h1>
			</div>
			<div class="col col-10">
				<a class="button button-icon" ng-click="closeWishlistModal()">
					<img src="img/btn-close-gray.png" style="position:absolute; margin-left: -15px;">
				</a>
			</div>
		</div>
	<div class="margin-bottom-xts"></div>
	<p align="left" class="margin-left-s roboto grey" style="margin:15px 0 0 35px; font-size:25px;">{{removeitem}}<p>
	<div class="row">
		<div class="col col-50">
			<div class="margin-bottom-xts"></div>
			<div class="button-bar margin-left-s">
				<button class="button btn-black grey noodle" ng-show="button" ng-click="alert('No')">No</button>
				<button class="button btn-black grey noodle" ng-show="button" ng-click="alert('Yes')">Yes</button>
			</div>
		</div>
	</div>
</ion-content>
</div>