<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>MIMCO Australia</title>

    <link href="css/keyboard.css" rel="stylesheet">
    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/idangerous.swiper.3dflow.css" rel="stylesheet">
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <style>
      .swiper-container {
        display:block;
        padding:10px 0;
        width: 100%;
      }
      .swiper-slide {
        width:auto;
        height: 410px!important;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        border-radius:5px;
      }
      .reflection  {
        width: 100%;
        height: 20px;
        border-radius: 3px 3px 0 0;
        position: absolute;
        left: 0;
        bottom: -23px;
      }
      .reflection h3 {padding:5px;}
      .swiper-slide a {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:1
      }
    </style>

    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/jquery-ui.min.js"></script>
    <script src="lib/jquery.keyboard.js"></script>
    <script src="lib/jquery.keyboard.extension-autocomplete.js"></script>
    <!--<script src="lib/socket.io.js"></script>-->
    <script src="lib/ui.bootstrap.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/phoneitemcontroller.js"></script>
    <script src="js/comparecontroller.js"></script>
    <script src="js/wishlistcontroller.js"></script>
    <script src="js/bodycontroller.js"></script>
    <script src="js/searchcontroller.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/parse.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/idangerous.swiper.3dflow.min.js"></script>

  </head>
  <body ng-app="application" ng-controller="mainCtrl">
    
  <ion-header-bar align-title="center" class="bar bar-dark animated fadeIn" style="animation-delay:50ms;" id="heading">
        <h1><a href="#/home" class="animated fadeInDown headerlogo"></a></h1>
        <div class="logodiv">
            <a href="#/home" class="borderbutton button button-icon animated fadeInDown" style="animation-delay:250ms;">
                <img class="header-icon" src="img/home.png">
                <p class="noodle">Home</p>
            </a>

            <a ng-click="opensubcategoryModalcamera('CEC')" class="borderbutton button button-icon animated fadeInDown" style="animation-delay:350ms;">
                <img class="header-icon" src="img/grid.png">
                <p>Category</p>
            </a>

            <a class="borderbutton button button-icon animated fadeInDown" style="animation-delay:450ms;" ng-click="modal.show(); showsearch = !showsearch;" class="">
                <img class="header-icon" src="img/search.png">
                <p>Search</p>
            </a>

            <input type="text" style="  height: 52px;  display: inline-block; padding: 15px; margin-top: 13px; font-size: 1.3em;  font-family: roboto;  width: 18em !important;  background: #000;  border-bottom: 1px solid #fff; border-radius:0px;" id="ipad" ng-click="" ng-init="showsearch = false" ng-show="showsearch" ng-change="change(searchkeyword)" ng-model="search.searchkeyword">

            <!-- <a class="button button-light icon ion-chevron-left search-clear one" style="height:42px!important; width:42px; border-right:1px solid #CFCFCF!important; border-radius: 50px; margin-top:18px;padding-top:9px!important;" ng-show="showsearch" ng-click="clear(1)">
            </a>

            <a class="button button-light icon ion-close search-clear all" style=" padding-top:5px; height: 42px!important; width:42px; border-right:1px solid #CFCFCF!important; border-radius: 50px; margin-top:18px;padding-top:9px!important;" ng-show="showsearch" ng-click="clear()">
            </a> -->

            <a class="button button-positive search-btn" style="background: none; height: 74px!important;" ng-show="showsearch" ng-click="search()"><img src="img/search-white.png" style="width:52px; padding:4px 0 0 2px;"></a>

            <a ng-controller="wishlistCtrl" class="borderbutton rightlogo button button-icon animated fadeInDown" style="animation-delay:550ms;" href="#/wishlist">
                <img class="header-icon" src="img/heart.png">
                <span class="badge">{{wishlistitems.length}}</span>
                <p>Wish List</p>
            </a>

            <a ng-controller="compareCtrl" class="borderbutton rightlogo button button-icon compare-button animated fadeInDown" style="animation-delay:450ms;" href="#/compare">
                <img class="header-icon" src="img/compare.png">
                <span class="badge">{{compareitems.length}}</span>
                <p>Compare</p>
            </a>
        </div>
    </ion-header-bar>  

     <ion-nav-view name="mainView" animation="no-animation"></ion-nav-view>

    <script>
    var result = [];
    $.get('data.json').success(function(data){
        data.forEach(function(product){
            result.push(product.Name);
        });
        $('#ipad').autocomplete({
            source: result
        }).addAutocomplete();
    });             

    $('#ipad').keyboard({ 
        autoAccept: true,
        stayFocus: true,
        layout: 'custom', 
        customLayout: { 
            'default': [ 
                'q w e r t y u i o p {bksp}', 
                'a s d f g h j k l {search}', 
                '{s} z x c v b n m , . {s}', 
                '@ {space} {meta1} {accept}' 
            ], 
            'shift': [ 
                'Q W E R T Y U I O P {bksp}', 
                'A S D F G H J K L {search}', 
                '{s} Z X C V B N M ! ? {s}', 
                '@ {space} {meta1} {accept}' 
            ], 
            'meta1': [ 
                '1 2 3 4 5 6 7 8 9 0 {bksp}', 
                '- / : ; ( ) \u20ac & @ {search}', 
                '{meta2} . , ? ! \' " {meta2}', 
                '{default} {space} {default} {accept}' 
            ], 
            'meta2': [ 
                '[ ] { } # % ^ * + = {bksp}', 
                '_ \\ | ~ < > $ \u00a3 \u00a5 {search}', 
                '{meta1} . , ? ! \' " {meta1}', 
                '{default} {space} {default} {accept}' 
            ] 
        },

        display: { 
            'bksp'   :  "\u2190", 
            'accept' : 'accept', 
            'default': 'ABC', 
            'meta1'  : '?123', 
            'meta2'  : '#+=',
            'search' : 'Search'
        }, 
        keyBinding: 'mousedown',
        usePreview: false

    })

    $.extend($.keyboard.keyaction, {
        search: function(base){
            document.location.hash = 'search/' + base.$preview.val();
            $('#ipad').getkeyboard().close();
            $('#ipad').val(base.$preview.val())
        }
    })
     </script>
  </body>
</html>
