<ion-view>
    <!-- <div class="bar bar-subheader">
        <a ng-click="backBtn()" class="button button-outline button-light btn-back"><i class="icon ion-ios7-arrow-left spacer"></i> BACK</a>
        <h2 class="title roboto-title">Compare</h2>
    </div> -->
    <!-- <a ng-click="openallitemModal()" class="button button-outline button-light icon ion-plus"> ADD ITEM </a> -->

    <ion-content scroll="false" class="gradient">
        <a ng-click="backBtn()" class="button button-icon button-light btn-back animated fadeIn" style="animation-delay:150ms;">
            <img src="img/logoicons/back.png" style="width:110px;">
        </a>
        
        <div class="padding-l3">
            <div class="row">
                <div class="col col-60 animated fadeIn" style="animation-delay:250ms;">
                    <h1 class="noodle prodTitle2">
                        Compare
                    </h1>
                </div>
            </div>
        </div>

    <div class="padding-l2">
    <div class="row">
        <div class="col" style="display:inline;">
            <ion-scroll delegate-handle="grid" direction="y" class="wide-item" style="height: 575px;">
                <div ng-repeat="compareitem in compareitems" class="item-compare-container animated fadeInLeft" style="animation-delay:10ms;">
                    <button ng-click="removeItemToCompare(compareitem.ItemCode, compareitem, $index)" class="button button-icon btn-remove compare">
                        <img src="img/box-btn-close.png">
                    </button>
                    <div ng-click="goToPhone(compareitem.ItemCode)" style="width: 405px; height: 280px; margin: 1px 0 0 -97px ; background-image: url('{{compareitem.images[0]}}'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div> 
                    <h3 class="noodle-compare-title capital" align="center">{{compareitem.Name}}<h3>
                    <div style="padding:45px 0 0 11px;">
                        <p ng-repeat="feature in compareitem.Features" class="roboto grey-tint" style="font-size:15px;">{{feature}}</p>
                    </div>
                    <!-- <div class="margin-bottom-xts"></div>
                        <h4 class="item roboto">Display:<span class="spacer"></span>
                            <p style="font-size:14px; padding: 10px 0 0 0; white-space:normal;">{{compareitem.Display}}</p>
                        </h4>
                    </div> -->
                    <button class="noodle button button-standard white" style="width:250px; margin: 20px 0 0 3px;" ng-click="goToPhone(compareitem.ItemCode)">View Details</button>
                </div>

                <div class="item-compare-container2 animated fadeIn" style="animation-delay:450ms;" ng-click="openallitemModal()" ng-init="itemAdded=true" ng-show="itemAdded">
                    <img src="img/add.png" class="button button-icon" style="margin:82px 0 0 10px">
                </div>
            </ion-scroll>
        </div>
    </div>

    </div>
    </ion-content>
</ion-view>