<ion-view>
    <ion-content padding="true" class="gradient" scroll="false">
    <div class="padding-l">  

        <div class="row">
            <div class="col col-60">
                <h1 class="prodTitle3 animated fadeIn" style="animation-delay: 450ms; position;absolute;">
                    Select a Category
                </h1>
            </div>
        </div>


        <a class="button button-icon arrow-left animated fadeInLeft" style="animation-delay:950ms;" href="#">
            <img src="img/arrow-left.png">
        </a> 
        <a class="button button-icon arrow-right animated fadeInRight" style="animation-delay:950ms;" href="#">
            <img src="img/arrow-right.png">
        </a>
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide animated fadeIn" style="background-image:url(img/2.png); animation-delay:300ms;">
                <a href="#/Shoes"></a>
              </div>
              <div class="swiper-slide animated fadeIn" style="background-image:url(img/1.png); animation-delay:550ms;">
                <a href="#/Bags"></a>
              </div>
              <div class="swiper-slide animated fadeIn" style="background-image:url(img/3.png); animation-delay:750ms;">
                <a href="#/Jewellery"></a>
              </div>
            </div>
        </div>

        <!-- <ion-slide-box class="padding-s">
            <ion-slide>
                <div class="row">
                    <div class="col">
                        <a href="#/Men"><img src="img/mobile-banner.jpg"></a>
                    </div>

                    <div class="col">
                        <a href="#/Women"><img src="img/acc-banner.jpg"></a>
                    </div>

                    <div class="col">
                        <a href="#/Frames"><img src="img/bundles-banner.jpg"></a>
                    </div>
                </div>
            </ion-slide>

             <ion-slide>
                <div class="row">
                    <div class="col">
                        <a href="#/Men"><img src="img/mobile-banner.jpg"></a>
                    </div>

                    <div class="col">
                        <a href="#/Frames"><img src="img/bundles-banner.jpg"></a>
                    </div>

                    <div class="col">
                        <a href="#/Women"><img src="img/acc-banner.jpg"></a>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box> -->
    </div>  
    </ion-content>
</ion-view>