<ion-view>
    <ion-content class="gradient" scroll="false">
        <a ng-click="backBtn()" class="button button-icon button-light btn-back animated fadeIn" style="animation-delay:150ms">
            <img src="img/logoicons/back.png" style="width:110px;">
        </a>
        
        <div class="padding-l3">
            <div class="row">
                <div class="col col-60">
                    <h1 ng-repeat="phone in phones | duplicates: 'type'" class="noodle no-margin prodTitle animated fadeInLeft" style="animation-delay:250ms">
                        Home | <span style="color:#000; border-bottom:1px solid #EC008C; padding-bottom:2px;"> {{phone.type}} </span>
                    </h1>
                </div>
            </div>
        </div>
            
        <div class="padding-l2 grid" ng-show="layout == 'grid'">  

        <ion-scroll delegate-handle="grid wide-item" direction="y" style="height: 580px;">
            <div ng-repeat="phone in phones" ng-click="goToPhone(phone.ItemCode)" class="item-grid-container animated fadeInBounce" style="animation-delay: {{$index * 150}}ms;">
                <div ng-click="setMainImage(image)" class="item-grid-image animated fadeIn" style="animation-delay: {{$index * 200}}ms; width: 301px; height: 198px; margin: 15px 0 15px -6px; background-image: url('{{phone.images[0]}}'); background-size: contain; background-repeat: no-repeat; background-position: center;">
                </div>
                <h5 class="noodle animated fadeIn" style="animation-delay: {{$index * 250}}ms;"> {{phone.Name}}</h5>
                <p class="price animated fadeIn" style="animation-delay: {{$index * 350}}ms;"> AUD ${{phone.Price}}</p>
            </div>
        </ion-scroll>
    </div>

    <div class="padding-l2 list" ng-show="layout == 'list'"> 
        <ion-scroll delegate-handle="list" direction="y" style="height: 605px; padding:0px;">
        <div ng-repeat="phone in phones" class="item-wishlist-container animated fadeInLeft" style="animation-delay: {{$index * 150}}ms;">
            <div class="row">
                <div class="col col-25 list-container" ng-click="goToPhone(phone.ItemCode)">
                    <div ng-click="setMainImage(image)" class="listview-image animated fadeInLeft" style="animation-delay: {{$index * 450}}ms; background-image: url('{{phone.images[0]}}');">
                    </div>
                </div>
                <div class="col col-67 margin-left-mid" style="border-left: 1px dashed #ccc; padding-left: 34px;">
                    <h5 align="left" ng-click="goToPhone(phone.ItemCode)" class="noodle noodle-h1">{{phone.Name}}</h5>
                    <h5 align="left" ng-click="goToPhone(phone.ItemCode)" class="list-description grey-tint">{{phone.Description}}</h5>
                    <div class="margin-bottom-s"></div>

                    <p class="price-2">AUD ${{phone.Price}}</p>
                    
                    <div class="margin-bottom-xts"></div>

                    <div class="row">
                        <div class="col col-100">
                            <div class="button-bar" style="margin-left:-10px;">
                              <button class="button button-standard btn-black noodle" ng-click="goToPhone(phone.ItemCode)">View Details</button>
                              <button class="button button-standard btn-black noodle" ng-click="addItemToCompare(phone)" ng-disabled="phone.inCompare">Add to Compare</button>
                              <button class="button button-standard btn-black noodle" ng-click="addItemTowishlist(phone)" ng-disabled="phone.inWishlist">Add to Wish List</button>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        </ion-scroll>
    </div>

    </ion-content>

    <div class="button-bar views-bar animated fadeIn" style="animation-delay:550ms">
        <a class="button buttonview" ng-class="{active: layout == 'grid'}" ng-click="orientation('grid');layout = 'grid'; changelayout('grid')">
            <img src="img/logoicons/grid.png" class="views-icon">
        </a>
        <a class="button buttonview" ng-class="{active: layout == 'list'}" ng-click="orientation('list');layout = 'list'; changelayout('list')">
             <img src="img/logoicons/list.png" class="views-icon">
        </a>
    </div>
</ion-view>