<ion-view>
	<!-- <div class="bar bar-top bar-subheader">
  		<a ng-click="backBtn()" class="button button-outline button-light btn-back">
  			<i class="icon ion-ios7-arrow-left spacer"></i> BACK</a>
      	<h2 class="title roboto-title">{{phoneitem.Name}}</h2>
      	<!-- {{item['first name']}} -->
	<!-- </div> -->

    <ion-content class="gradient" scroll="false">
   		 <a ng-click="backBtn()" class="button button-icon button-light btn-back animated fadeIn" style="animation-delay:150ms;">
            <img src="img/logoicons/back.png" style="width:110px;">
        </a>
        
        <div class="padding-l4">
            <div class="row">
                <div class="col col-60">
                    <h1 class="noodle prodTitle animated fadeInLeft" style="animation-delay:250ms; margin-left:80px;">
                        Home | {{phoneitem.type}} | <span style="color:#000; border-bottom:1px solid #EC008C; padding-bottom:2px;">{{phoneitem.Name}} </span>
                    </h1>
                </div>
            </div>
            <div class="margin-bottom-s"></div>
		    <div class="row">
		    	<div class="col col-33">
		    		<h1 class="noodle item-title animated fadeInLeft" style="animation-delay:350ms;">
		    			{{phoneitem.Name}}
		    		</h1>

		    		<p class="description animated fadeInDown" style="animation-delay:450ms;"> 
		    			{{phoneitem.Description}}
		    		</p>

		    		<img class="item-image animated fadeIn" ng-repeat="sneakImage in phoneitem.sneakImages track by $index" src="{{sneakImage}}" style="animation-delay: {{$index * 350}}ms;">

		    		<div class="margin-bottom-xts"></div>

		    		<div style="float:right; position:fixed;">
			    		<button class="button button-standard item-button animated fadeIn" style="animation-delay:550ms;" ng-click="addItemToCompare(phoneitem); myVar='my-class'" ng-disabled="inCompare" >
			    			<p class="base-class" ng-class="myVar">Add to Compare</p>
			    		</button>

		    			<div class="margin-bottom-xts"></div>

			    		<button class="button button-standard item-button animated fadeInLeft" style="animation-delay:650ms;" ng-click="addItemTowishlist(phoneitem); myVar2='my-class'" ng-disabled="inWishlist">
			    			<p class="base-class" ng-class="myVar2">Add to Favourites</p>
			    		</button>

			    		<div class="margin-bottom-xts"></div>

			    		<button class="button button-standard item-button animated fadeInLeft" style="animation-delay:850ms;" ng-click="openRelatedModal()">
			    			<p>Related Items</p>
			    		</button>
		    		</div>

		    	</div>

		    	<div class="col col-45">
		    		<div class="item-container animated fadeInDown" style="animation-delay: 950ms;">
			 			<div class="mainimage thumb-lg" style="background-image: url('{{mainimage}}');"></div>
		    		</div>
		    	</div>

		    	<div class="col-25" style="position:relative; top:-63px;">
		    		<h2 class="noodle capital model animated fadeInLeft" style="animation-delay: 1050ms;">MODEL</h2>
		    		<div class="models animated fadeIn" style="animation-delay: 1550ms; background-image: url('{{models}}');"></div>
		    	</div>

		    	<!-- <div class="col col-25">
		    		<button class="button button-icon">
		    			<img src="img/fd-btn.png" style="position: fixed; float: left; margin: 175px 0px 0 -85px;">
		    		</button>

		    		<button class="button button-icon" ng-click="openRelatedModal()">
		    			<img src="img/ri-btn.png" style="position: fixed; float: left; margin: 253px 0px 0 -103px;">
		    		</button>
		    	</div> -->


			  <!-- <div class="col col-25">
			  	<div class="mainimage thumb-lg" style="background-image: url('{{mainimage}}');"></div>
			  	
			  	<div class="thumb-sm" ng-repeat="image in phoneitem.images track by $index" ng-click="setMainImage(image)" style="background-image: url('{{image}}');"></div>
			  </div>

			  <div class="col col-55">
			  	<div class="buttontabs" >
			  		<button class="button" ng:click="selected='description'" ng-init="selected='description'" ng-class="selected=='description' ? 'button-dark' : 'button-stable'">
					  Description
					</button>
					<button class="button" ng:click="selected='features'" ng-class="selected=='features' ? 'button-dark' : 'button-stable'">
					  Key Features
					</button>
			  	</div>
			  	<p class="description grey-tint" ng:show="selected == 'description'">{{phoneitem.Description}}</p>
			  	<div class="features" ng:show="selected == 'features'">
			  		<p ng-repeat="feature in phoneitem.Features" class="grey-tint">{{feature}}</p>
			  	</div>

			  </div>
			  <div class="col col-25 sidebuttons" style="text-align: right;">
			  	<button class="button button-icon btn-item" ng-click="addItemTowishlist(phoneitem)" ng-disabled="inWishlist">
				  <img src="img/logoicons/fave.png" class="item-icon">
				  <p class="blue noodle">Wish List</p>
				</button>
				<br>
				<button class="button button-icon btn-item" ng-click="addItemToCompare(phoneitem)" ng-disabled="inCompare">
				  <img src="img/logoicons/compare.png" class="item-icon">
				  <p class="blue noodle">Compare</p>	
				</button>
			  </div> -->
			</div>
        </div>
        
	<!-- <div class="padding-related">
		<h3 class="noodle noodle-name related-title blue">Related Items</h3>
		<div>
			<ion-scroll delegate-handle="list" direction="x" class="wide-item">
			<div ng-repeat="phone in phonerelateditems" ng-click="goToPhone(phone.ItemCode)" class="item-grid-container-related">
		        <div ng-click="setMainImage(image)" class="item-grid-image" style="width: 195px; height: 120px; margin: 15px; background-image: url('{{phone.images[0]}}'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
		            <p align="center" class="noodle roboto-sm blue-tint">{{phone.Name}}</p>
			</div>
			</ion-scroll>
		</div>
	</div> -->
    </ion-content>

<!-- 		<div class="button button-icon btn-horizontal left" ng-click="scrollLeft()">
			<img class="btn-related" src="img/logoicons/left-sm.png">
		</div>
        <div class="button button-icon btn-horizontal right" ng-click="scrollRight()">
        	<img class="btn-related" src="img/logoicons/right-sm.png">
        </div> -->
        
</ion-view>