<ion-view>
    <!-- <div class="bar bar-subheader">
        <a ng-click="backBtn()" class="button button-outline button-light btn-back">
            <i class="icon ion-ios7-arrow-left spacer"></i> BACK
        </a>
        <h2 class="title roboto-title">Search: {{searchkeyword}}</h2>
    </div> -->
    <ion-content class="gradient">

    <a ng-click="backBtn()" class="button button-icon button-light btn-back animated fadeIn" style="animation-delay:150ms;">
            <img src="img/logoicons/back.png" style="width:110px;">
        </a>
        
        <div class="padding-l3">
            <div class="row">
                <div class="col col-60">
                    <h1 class="noodle prodTitle2 animated fadeIn" style="animation-delay:250ms;">
                        Search: <span style="color:#EC008C;">{{searchkeyword}}</span>
                    </h1>
                </div>
            </div>
        </div>

    <ion-scroll delegate-handle="grid" direction="y" style="height: 600px;">
        <div class="padding-l2">
        <div ng-repeat="searchresult in searchresults" ng-click="goToItem(searchresult)" class="item-grid-container animated fadeInBounce" style="animation-delay: {{$index * 150}}ms;">
            <div ng-click="setMainImage(image)"  class="item-grid-image" style="width: 328px; height: 198px; margin: 15px 0 15px 0; background-image: url('{{searchresult.images[0]}}'); background-size: contain; background-repeat: no-repeat; background-position: center;" ng-show="searchresult.images[0]"></div>
            
            <h5 align="center" class="noodle blue-tint">{{searchresult.Name}}</h5>
        </div>

        </div>
    </ion-scroll>
    
    </ion-content>
</ion-view>