<ion-view>
    <div class="bar bar-top bar-subheader">
        <a ng-click="backBtn()" class="button button-outline button-light btn-back">
            <i class="icon ion-ios7-arrow-left spacer"></i> BACK
        </a>
        <p ng-repeat="subphone in subphones" class="title roboto-title">{{subphone.subcategory}} ({{subphones.length}})</p>
    </div>
    
    <ion-content padding="true" class="gradient" scroll="false">
    <div class="padding-m grid" ng-show="layout == 'grid'">  
        
        <button class="button button-icon btn-vertical up" ng-class="scrollabletop ? 'button-dark':'button-light'" ng-click="scrollTop()">
            <img src="img/logoicons/up.png">
        </button>

        <button class="button button-icon btn-vertical down" ng-click="scrollBottom()" ng-class="scrollablebottom ? 'button-dark':'button-light'">
            <img src="img/logoicons/down.png">
        </button>
        
        <ion-scroll delegate-handle="grid" direction="y" style="height: 550px;">
        <div ng-repeat="subphone in subphones" ng-click="goToPhone(subphone.id)" class="item-grid-container">
            <div ng-click="setMainImage(image)" class="item-grid-image" style="width: 328px; height: 223px; margin: 15px; background-image: url('{{subphone.imageUrl}}'); background-size: contain; background-repeat: no-repeat; background-position: center;">
            </div>
            <div class="row top-border">
              <div class="col">
                <h5 align="center" class="noodle item-grid-title">{{subphone.name}}</h5>
              </div>
            </div>
        </div>
        </ion-scroll>
    </div>

    <div class="padding-m list" ng-show="layout == 'list'">  
       <button class="button button-icon btn-vertical up" ng-class="scrollabletop ? 'button-dark':'button-light'" ng-click="scrollTop()">
            <img src="img/logoicons/up.png">
        </button>

        <button class="button button-icon btn-vertical down" ng-click="scrollBottom()" ng-class="scrollablebottom ? 'button-dark':'button-light'">
            <img src="img/logoicons/down.png">
        </button>

        <ion-scroll delegate-handle="list" direction="y" style="height: 550px;">
        <div ng-repeat="subphone in subphones" class="item-wishlist-container">
            <div class="row">
                <div class="col col-25">
                    <div ng-click="setMainImage(image)" ng-click="goToPhone(subphone.id)" class="listview-image" style="background-image: url('{{subphone.imageUrl}}');">
                    </div>
                </div>
                <div class="col col-67">
                    <h5 align="left" ng-click="goToPhone(subphone.id)" class="noodle noodle-name">{{subphone.name}}</h5>
                    <h5 align="left" ng-click="goToPhone(subphone.id)" class="list-description">{{subphone.description[0]}}</h5>
                    <div class="margin-bottom-s"></div>
                    <div class="row">
                        <div class="col col-67">
                            <div class="button-bar">
                                <button class="button btn-black white margin-right-s" ng-click="addItemToCompare(subphone)" ng-disabled="subphone.inCompare"> Add to Compare </button>
                                <button class="button btn-black white" ng-click="addItemTowishlist(subphone)" ng-disabled="subphone.inWishlist">Add to Wish List </button>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        </ion-scroll>
    </div>

    </ion-content>

    <div class="footerstyle" ng-controller="mainCtrl">
        <button ng-click="opensubcategoryModalcamera()" class="borderbutton button button-icon">
            <img src="img/logoicons/category.png" class="footer-icon">
            <span class="footertext spacer">SHOP BY CATEGORY</span>
        </button>
        <button ng-click="openfiltermodal()" class="borderbutton button button-icon">
            <img src="img/logoicons/filter.png" class="footer-icon">
            <span class="footertext spacer">FILTER</span>
        </button>
        <button ng-click="opensortModal()" class="borderbutton button button-icon">
            <img src="img/logoicons/sort.png" class="footer-icon">
            <span class="footertext spacer">SORT</span>
        </button>
    </div>

    <div class="button-bar views-bar">
        <a class="button btn-views button-outline" ng-class="{active: layout == 'grid'}" ng-click="orientation('grid');layout = 'grid'; changelayout('grid')">
            <img src="img/logoicons/grid.png" class="views-icon">
            <p>Grid</p>
        </a>
        <a class="button btn-views button-outline" ng-class="{active: layout == 'list'}" ng-click="orientation('list');layout = 'list'; changelayout('list')">
             <img src="img/logoicons/list.png" class="views-icon">
             <p>List</p>
        </a>
    </div>
</ion-view>