<ion-view>
    
    <ion-content class="gradient" scroll="false">
        <a ng-click="backBtn()" class="button button-icon button-light btn-back animated fadeIn" style="animation-delay:150ms;">
            <img src="img/logoicons/back.png" style="width:110px;">
        </a>
        
        <div class="padding-l3">
            <div class="row">
                <div class="col col-60 animated fadeIn" style="animation-delay:250ms;">
                    <h1 class="noodle prodTitle2">
                        Wishlist
                    </h1>
                </div>
            </div>
        </div>

    <div class="padding-l2">
    <ion-scroll direction="y" style="height: 605px;">
        <div ng-repeat="wishlistitem in wishlistitems track by $index" class="item-wishlist-container animated fadeInLeft" style="animation-delay: {{$index * 150}}ms;">
            <button class="button button-icon btn-remove wishlist" ng-click="removeItemToWishlist(wishlistitem.code, wishlistitem, $index)">
                <img src="img/box-btn-close.png">
            </button>
            <div class="row">
                <div class="col col-25 list-container">
                    <div class="listview-image" style="background-image: url('{{wishlistitem.images[0]}}')!important;">
                    </div>
                </div>
                <div class="col col-67 margin-left-mid">
                        <h5 class="noodle noodle-h1">{{wishlistitem.Name}}<h5>
                        <p align="justify" class="grey list-description">
                            {{wishlistitem.Description}}<br>
                        </p>
                        <div class="margin-bottom-m"></div>
                        <button class="button button-positive button-standard noodle" style="border-radius:0px; width:250px;" ng-click="goToPhone(wishlistitem.ItemCode)">View Details</button> 
                </div>
            </div>
        </div>
    </ion-sroll>
    </div>
    </ion-content>
</ion-view>